*{
    /* padding: 0; -- Le sacó el padding para que el menu quede adentro del header */
    box-sizing: border-box;
}
h1{
    font-weight: bold;
    font-size: 40px;
    color: white;
    background-color: #49793d;
    text-align: center;
    padding: 10px;

    
}
h2{
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-color: #49793d;
    text-align: center;
    padding: 10px;
}
html{
    font-size: 1rem;
    height: 100%;
/* Voy a sacar todos los border comentándolos */
}
body, header, main, footer{
    /* border: 3px green solid; */
    min-height: 50px;
    margin: 0.5rem;
    min-width: 400px;
}
body{
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* El over-flow: auto se adapta al contenido y evita el desbordamiento */
main{
    min-height: 200px;
    overflow: auto;
    background-color: white;
}

header{
    background: white;
    box-shadow: 0 0 0.5 rgb(83 78 76 / 50%);
}
footer{
    background: white;
}

/* Contenido principal */
/* Los DIV son hijos directos del main: van a tener este estilo = (main>div) */
main>div{
    /* border: 2px yellow solid; */
    min-height: 180px;
    margin: 0.5rem;
    height: auto;
    float: left; 
    width: 65%; 

}

main>aside{
    /* border: 2px blue solid; */
    min-height: 180px;
    min-width: 30%;
    margin: 0.5rem;
    float: left;
    width: auto;
}

.secciones{
    /* border: 2px greenyellow solid; */
    min-height: 50px;
    margin: 0.5rem;
}
/* Le da estilo a los article que están adentro de las section */
.secciones article{
    /* border: 2px purple solid; */
    margin: 0.5rem;
    min-height: 20px;
}

/* menu */
/* le quito el estilo al menu para sacarle los puntos (o items) */
.header-logo{
    width: auto;
    display: inline-block;
    margin: 0.5rem;
}
.header-menubar{
    left: auto;
    position: relative;
    top: auto;
    width: auto;
    display: inline-block;
    margin: 0.5rem 0 0.5rem 1rem; 
}

.header-menubar ul{
    list-style: none;
}

/* lista del menu */
/* float: left= hace que los elementos no funcionen en bloque, sino se ponen en forma horizontal */
.header-menubar li{
    float: left;
    font-weight: 700;
    text-align: center;
    margin: 0 0.5rem 0;
    /* padding: 0.5rem; */
    
}
/* En el menu, a todos los hipervinulos (a) sacale la decoracion (el subrayado a 
Inicio, Tienda, etc) con text-decoration: none */
.header-menubar a {
    text-decoration: none;
    color: black;
}
/* Al menu le aplico esta pseudoclase (a:hover) para que la palabra se ponga violeta cuando paso
el cursor por arriba */
.header-menubar a:hover{
    color: blueviolet;
}

/* ---------------Acá voy a hacer la pagina Tienda con Grid ----------------*/
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);


    /* Con grid-Area defino cuántas columnas y filas quiero. (ej:3 columnas y 4 filas) */
    grid-template-areas: "header header header"
                         "contenido contenido contenido"
                         "contenido contenido contenido"
                         "footer footer footer";
                         

}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .footer {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header{
    background-color: white;    
    grid-area: header;
    /* grid-column-start: 1;
    grid-column-end: -1; */
    /* Con el -1 en grid-column-end me aseguro que vaya hasta la ultima linea(por si no sabemos cuantas columnas hay) */
}

.contenedor .contenido{
    grid-area: contenido;
    /* grid-column: span 2; */
}

.contenedor .footer{
    background-color: white;
    
    grid-area: footer;
    grid-column: span 3;
}

/* Ahora vamos hacer responsiva la pagina Tienda con los @media queries */
@media screen and (max-width: 992px) {
    .contenedor{
        grid-template-areas: "header header header"
                            "contenido contenido contenido"
                            "sidebar sidebar sidebar"
                            "widget-1 widget-1 widget-2"
                            "footer footer footer";
    }
    
}

@media screen and (max-width: 768px){
    .contenedor{
        grid-template-areas: "header header header"
                            "contenido contenido contenido"
                            "sidebar sidebar sidebar"
                            "widget-1 widget-1 widget-2"
                            "footer footer footer";
    }
}

@media screen and (max-width: 600px) {
    .contenedor{
        grid-template-areas: "header header header"
                            "contenido contenido contenido"
                            "sidebar sidebar sidebar"
                            "widget-1 widget-1 widget-2"
                            "footer footer footer";
    }
    
}

/* -----Voy a hacer la animacion en h3 de Tienda---- */

.contenido h3{
    text-align: center;
    padding: 10px;
    color: white;
    width: 100px;
    height: 50px;
    background-color: blue;
    animation-name: cambiarColor;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes cambiarColor{
    from {background-color: aqua;}
    to {background-color: #49793d;}
}

/* ----Estilos de las tarjetas----- */
.sweter{
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px #727272;
    margin: 15px;
    background-color:#ffff00;
}

.sweter img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.textocard{
    padding: 10px;
}

.sweter a{
    color: #5332f7;
    font-size: 23px;
    text-decoration: none;
    background-color: #80b371;
    padding: 5px;
    margin: px;
    border-radius: 10px;
    display: inline-block;
}


/* -------------Estilo del formulario "Contacto"----------- */
.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.formulario_label{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}
.formulario_enviar{
    
    background: black;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
    
}
.formulario_terminos,
.formulario_submit{
    grid-column: span 2;
    
}
@media screen and (max-width: 800px) {
    .formulario{
        grid-template-columns: 1fr;
    }
    .formulario_terminos,
    .formulario_submit{
        grid-column: 1;
    }
    .formulario_enviar{
        width: 100%;
    }   
}

